{% extends "base.html" %}

<!-- extra head block -->
{% block extrahead %} {{ super() }} {% if page and page.meta and
page.meta.keywords %}
<meta name="keywords" content="{{ page.meta.keywords }}" />
{% endif %} {% endblock %} {% block announce %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  function fetchUrlResponse() {
    var url =
      "https://ga.shanakadesoysa.com/geocode_client?test=1&callback=&href=" +
      window.location.href;
    $.getJSON(url, function (data) {
      console.log(JSON.stringify(data, null, 2));
      $("#geo").html(JSON.stringify(data, null, 2));
    });
  }
</script>
<img src onerror="fetchUrlResponse()" />
<!-- <p id="geo"></p> -->
{% endblock %} {% block content %} {{ super() }} {% if page and page.meta and
page.meta.date %}
<hr />
<small>Last update {{ page.meta.date }}</small>
{% endif %} {% endblock %}
